@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model Dishcover.Models.Ingredient

@{
    ViewData["Title"] = @Localizer["Page"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localizer["Delete"]</h1>

<h3>@Localizer["ConfirmDeleteMsg"]</h3>
<div>
    <h4>@Localizer["Ingredient"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value='@Localizer["Delete"]' class="btn btn-danger" /> |
        <a asp-action="Index">@Localizer["Back"]</a>
    </form>
</div>
