@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model IEnumerable<Dishcover.Models.Ingredient>

@{
    ViewData["Title"] = @Localizer["Page"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localizer["Index"]</h1>
    @if (User.IsInRole("Admin"))
    {
        <p>
        <a asp-action="Create">@Localizer["CreateNew"]</a>
        </p>
    }
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a>
                        <span> |</span>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">@Localizer["Details"]</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <span> |</span>
                        <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
